.head {
    margin-top: 4rem;
}

.label {
    margin-left: -19rem;
    margin-top: 3rem;
    color: #536471;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}

.labelsec {
    margin-left: -17.4rem;
    margin-top: 1rem;
    color: #536471;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}

.input {
    height: 2.2rem;
    width: 22rem;
    border-radius: 4px;
    border: 2px solid #DDE5EC;
    font-size: 14px;
    font-weight: 700;
    color: #cbd2d7;
    padding-left: 15px;
}

.input:focus {
    outline-color: #DDE5EC;
}

.btn {
    width: 23rem;
    height: 3rem;
    margin-top: 3rem;
    color: #fff;
    border-radius: 4px;
    background-color: rgb(110, 5, 209);
    border: none;
    cursor: pointer;
}